<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商城高并发抢购-商品详情页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <input id="killId" th:value="${goods.goodsId}" type="hidden"/>
        <div class="panel-heading">
            <h1 th:text="'商品名称：'+${goods.goodsName}"></h1>
        </div>
        <div class="panel-body">
            <h2 class="text-danger" th:text="'剩余数量：'+${goods.stockCount}"></h2>
        </div>
        <div class="panel-body">
            <h2 class="text-danger" th:text="'价格：'+${goods.spikePrice}"></h2>
        </div>
        <div class="panel-body">
            <h2 class="text-danger" th:text="'开始时间：'+${#dates.format(goods.startTime,'yyyy-MM-dd HH:mm:ss')}"></h2>
        </div>
        <div class="panel-body">
            <h2 class="text-danger" th:text="'结束时间：'+${#dates.format(goods.endTime,'yyyy-MM-dd HH:mm:ss')}"></h2>
        </div>
    </div>

    <td th:if="${goods.canKill} eq true">
        <a class="btn btn-info" style="font-size: 20px" th:href="@{/do_spike/{goodsId}(goodsId=${goods.goodsId})}">抢购</a>
    </td>
    <td th:if="${goods.canKill} ne true">
        <a class="btn btn-info" style="font-size: 20px">哈哈~商品已抢购完毕或者不在抢购时间段哦!</a>
    </td>
</div>

</body>
</html>
