<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>商城高并发抢购-我的订单页面</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>-->
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/my_orders.css}"/>
</head>
<body>
<header id="header">
  <div class="center">
    <ul class="fl">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li><a href="/order/getMyOrder">我的订单</a></li>
    </ul>
    <div class="fr">
      <div class="user">
        <ul class="selector">
          <li>
            <a href="javascript:;">
              个人中心
            </a>
          </li>
          <li>
            <a href="javascript:;">
              我的订单
            </a>
          </li>
          <li>
            <a href="javascript:;">
              账号设置
            </a>
          </li>
          <li>
            <a href="javascript:;">
              退出登录
            </a>
          </li>
        </ul>
        <a href="javascript:;" class="username">

          <i class="iconfont icon-jiantou_xiangxia1"></i>
        </a>
      </div>
      <ul class="login">
        <li><a href="/logout">注销</a></li>
      </ul>
    </div>
  </div>
</header>
<div id="personal">
  <div class="selfinfo center">
    <div class="lfnav fl">
      <div class="ddzx">订单中心</div>
      <div class="subddzx">
        <ul>
          <li><a href="" style="color:#ff6700;font-weight:bold;">我的订单</a></li>
          <li><a href="">意外保</a></li>
          <li><a href="">团购订单</a></li>
          <li><a href="">评价晒单</a></li>
        </ul>
      </div>
      <div class="ddzx">个人中心</div>
      <div class="subddzx">
        <ul>
          <li><a href="./self_info.html">我的个人中心</a></li>
          <li><a href="">消息通知</a></li>
          <li><a href="">优惠券</a></li>
          <li><a href="">收货地址</a></li>
        </ul>
      </div>
    </div>
    <div class="rtcont fr" style="overflow-y:auto;overflow-x:hidden">
      <div class="ddzxbt">交易订单</div>

        <div class="ddxq" th:each="order,orderStat: ${orderList}">
          <div class="ddspt fl"><img th:src="@{/img/gwc_xiaomi6.jpg}" alt=""></div>
          <div class="ddbh fl" th:text="'订单号'+${order.orderId}"></div>
          <div class="ztxx fr">
            <ul>
              <li th:text="${order.goodsName}" style="font-size:12px;line-height:20px"></li>
              <li th:if="${order.status} eq 0">未付款</li>
              <li th:if="${order.status} eq 1">已付款</li>
              <li th:if="${order.status} eq 2">已取消</li>
              <li th:text="${order.price}"></li>
              <li th:text="${#dates.format(order.createTime,'yyyy/MM/dd HH:mm:ss')}" style="line-height:30px"></li>
              <div class="clear"></div>
            </ul>
          </div>
          <div class="clear"></div>
        </div>

    </div>
    <div class="clear"></div>
  </div>
</div>
</body>
</html>